@model mvc_application.SP_BuscarMetodoPagoXCodigo_Result

@{
    ViewBag.Title = "Eliminación de Método de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminación de Método de Pago</h2>

<h3>¿Estás seguro que quieres eliminar este Método de Pago?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <label>Nombre:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <label>Descripción:</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            <label>Estado:</label>
        </dt>
        <dd>
            @{
                var textoEstado = (Model.estado == true) ? "Habilitado" : "Deshabilitado";
                var colorEstado = (Model.estado == true) ? "green" : "red";
            }
            <span style="color:@colorEstado; font-weight:bold;">@textoEstado</span>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-dark" })
        </div>
    }
</div>