<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mega Force</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mega Force</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @*<a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Categoria")">Inicio</a>*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quienees Somos</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mantenimiento Simple
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Locales")">Locales</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Reclamo")">Reclamo</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Sancions")">Sancion</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Trainer")">Trainer</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "MetodoPago")">Metodo de Pago</a></li>
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenimiento Doble
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Cliente")">Cliente</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Entrenamiento")">Entrenamiento</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Inscripciones")">Inscripciones</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Pedidoes")">Pedido</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "DetallePedido")">DetallePedido</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MegaForce</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>