@model mvc_application.Cliente

@{
    ViewBag.Title = "Deshabilitar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deshabilitar Cliente</h2>

<h3>¿Estás seguro que quieres deshabilitar este cliente?</h3>
<div>
    <h4>Deshabilitar Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.historialEntrenamientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historialEntrenamientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deshabilitar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
